extends ../_pug/mainLayout.pug

block vars
    - title = 'CV'

block content
    .page-info
        //- PROJECTS
        p
            | #[strong Selected Exhibitions]#[br]
            | 2023#[br]
            | #[em Grain Touched], RISD Graphic Design Commons, Providence, RI#[br]
            | #[em The Space in Between], RISD Memorial Hall, Providence, RI#[br]
            | #[em Field Work], Red Eye Gallery, Providence, RI#[br]
            | #[em COLOR], Decode Gallery, Tucson, AZ#[br]
            | #[em Traversing Terrain], Gilman Gallery, Providence, RI#[br]
            | #[em November is its Own Season], RISD Old Library, Providence, RI#[br]
        p
            | 2022#[br]
            | #[em Naiad Cove], The Museum at the Cliff, San Francisco, CA#[br]
            | #[em Dreams], Decode Gallery, Tucson, AZ#[br]
            | #[em IM NEBEL], Red Eye Gallery, Providence, RI#[br]
            | #[em Identity as Context; Memory as Content], Granoff Center, Brown University, Providence, RI
        p
            | 2021#[br]
            | #[em Twelve], Viewpoint Photographic Art Center, Sacramento, CA#[br]
            | #[em HOW WE HEAR NOW], Ferry Building, Space 37, San Francisco, CA#[br]
            | #[em Glimpses of Illumination], Healdsburg Center for the Arts, Healdsburg, CA#[br]
            | #[em Black + White], Decode Gallery, Tucson, AZ
        p
            | 2020#[br]
            | #[em Fragments], Arc Gallery, San Francisco, CA#[br]
            | #[em Hidden/Local], Olive Hyde Art Gallery, Fremont, CA#[br]
            | #[em Taking Pictures], Black Box Gallery, Portland, OR
        p
            | 2019#[br]
            | #[em Contemporary Portraiture], LH Horton Gallery, Stockton, CA#[br]
            | #[em Language and Letters], SFWA Gallery, San Francisco, CA#[br]
            | #[em Currents], Chico Art Center, Chico, CA
        p
            | 2018#[br]
            | #[em Art in Office], California College of the Arts, Faculty and Student Center, San Francisco, CA#[br]
            | #[em Patterns], SFWA Gallery, San Francisco, CA#[br]
            | #[em CCA Annual Staff Exhibition], Hubbell Street Galleries, San Francisco, CA
        p
            | 2015#[br]
            | #[em BFA Thesis Exhibition], Museum of Fine Arts, Tallahassee, FL#[br]
            | #[em Art + Language], Phyllis Straus Gallery, Tallahassee, FL
        p
            | 2014#[br]
            | #[em Intermission], Phyllis Straus Gallery, Tallahassee, FL#[br]
            | #[em Art Awards Exhibition], Carnaghi Arts, Tallahassee, FL#[br]
            | #[em Making Now: Open for Exchange], Museum of Fine Arts, Tallahassee, FL
        br

        //- LECTURES
        p
            | #[strong Lectures]#[br]
            | 2021#[br]
            | Cornell University College of Architecture, Art, and Planning, #[em Artist Talk], Ithaca, NY
        p
            | 2015#[br]
            | Museum of Fine Arts, #[em Thesis Presentations], Tallahassee, FL
        br

        //- AWARDS
        p
            | #[strong Awards]#[br]
            | 2020#[br]
            | California College of the Arts, Exemplary Award
        p
            | 2015#[br]
            | Florida State University, Academic Leadership Award#[br]
            | Florida State University, Ann Kirn Scholarship Award
        p
            | 2014#[br]
            | Florida State University, Ann Kirn Scholarship Award
        br

        //- PRESS
        p
            | #[strong Press]#[br]
            | #[a(href="https://www.nytimes.com/2023/08/22/arts/television/mrs-roper-romp-threes-company.html") The New York Times]#[br]
            | #[a(href="https://www.excitingphotographynow.com") MATTE Magazine, Exciting Photography Now!]
        br

        //- Publications
        p
            | #[strong Publications]#[br]
            | 2023#[br]
            | #[em Staring at the Sunset], 5x7 in. perfect bound; duotone risograph printed; 40 pages and plastic cover; edition of 20.#[br]
            | Self-published, Rhode Island School of Design
        p
            | 2022#[br]
            | #[em cul de sac], 8.5x11 in. spiral bound; monotone risograph printed; 20 pages with gel inserts and tip-in poster; edition of 20.#[br]
            | Self-published, Rhode Island School of Design
        p
            | 2020#[br]
            | #[em Fragments: Exhibition Catalogue], ARC Gallery
        p
            | 2019#[br]
            | #[em Contemporary Portrait Photography 2019], San Joaquin Delta College
        p
            | 2014#[br]
            | #[em SIX Vol. 4], Florida State University’s College of Visual Arts, Theatre and Dance
        p
            | 2012#[br]
            | #[em SIX Vol. 2], Florida State University's College of Visual Arts, Theatre and Dance
        p
            | 2011#[br]
            | #[em SIX Vol. 1], Florida State University's College of Visual Arts, Theatre and Dance
        br

        //- EXP
        p
            | #[strong Curatorial Experience]#[br]
            | 2018#[br]
            | #[em Salutations], Carolina Art Space, San Francisco, CA
        p
            | 2017#[br]
            | #[em Here/Now], Carolina Art Space, San Francisco, CA
        p
            | 2016#[br]
            | #[em To Measure a Feeling], Atelier Gallery, San Francisco, CA
        p
            | 2015#[br]
            | #[em And Then There Was], Phyllis Straus Gallery, Tallahassee, FL
        br

        //- Professional Membership
        p
            | #[strong Professional Membership]#[br]
            | 2021#[br]
            | SF Camerawork#[br]
            | California College of the Arts, Diversity, Equity, Inclusion and Belonging Working Committee
        p
            | 2022#[br]
            | SF Camerawork#[br]
            | California College of the Arts, Diversity, Equity, Inclusion and Belonging Working Committee
        br

        //- EDU
        p
            | #[strong Education]#[br]
            | 2015#[br]
            | BFA, Florida State University#[br]
            | Minor in Art History
        p
            | 2024 (Expected)#[br]
            | MFA in Photography, Rhode Island School of Design


